.Phrase {
  width: auto;
  padding: 25px 50px 0px 20px;
  right: 0;
  left: 0;
  position: fixed;
  background-color: #FFF;
  z-index: 1000;
}

.Phrase input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  font-size: 24px;
  letter-spacing: .15rem;
  text-transform: uppercase;
  color: #8D8D8D;
  width: 100%;
  height: 30px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #E2E2E2;
  border-radius: 0;
}

.Phrase button.clear{
  border: 0;
  padding: 0;
  cursor: pointer;
  width: 40px;
  position: absolute;
  right: 35px;
  top: 15px;
  background: rgba(0, 0, 0, 0);
  color: #D16E6E;
  font-weight: 100;
  font-size: 2.5rem;
  opacity: .8;
}

.Phrase .tip{
  position: absolute;
  top: 22px;
  right: 90px;
  background: #000;
  color: #CCC;
  padding: 5px 16px;
  box-shadow: 0 1px 2px rgba(0,0,0,.30);
  font-size: 1.6rem;
}

.Phrase .tip:after{
  content: ' ';
  position: absolute;
  top: 0px;
  right: -22px;
  width: 0;
  height: 0;
  border-top: 22px solid rgba(0, 0, 0, 0);
  border-bottom: 22px solid rgba(0, 0, 0, 0);
  border-left: 22px solid #000;
}